<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @visit.client_id %>
</p>

<p>
  <strong>Dish:</strong>
  <%= @visit.dish_id %>
</p>

<p>
  <strong>Visit date:</strong>
  <%= @visit.visit_date %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
